@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Orienta&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: "Orienta", serif;
    background-color: #A0B4EE;
    color: #2B057B;
}

a {
    color: black;
}

ul {
    list-style-image: url('../images/Arrow_Blue_Right.png');
}

header {
    margin: auto;
    text-align: center;
    color: #f0f052;
}

h1,
h2,
h3 {
    font-family: "Luxurious Roman", serif;
    text-align: center;
    color: #f0f052;
    text-shadow: 3px 3px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
    text-align: left;
}

header>nav>ul>li {
    display: inline-block !important;
}

header>nav li a {
    background-color: #264EB5 !important;
    color: #f0f052 !important;
}

header>nav li:hover a {
    background-color: #f0f052 !important;
    color: #264EB5 !important;
}

header>nav>ul a {
    display: inline-block !important;
    text-decoration: none !important;
    font-size: 1.1em !important;
    border: 4px solid #46681E !important;
    padding: 5px !important;
    margin: 1px !important;
    border-radius: 10px !important;
    background-color: #264EB5 !important;
}

div.images {
    width: 95%;
    display: inline-block;
    margin-top: 0%;
    margin-left: 6%;
    padding: 3%;
}

div.images img {
    display: inline-block;
    width: 42%;
    height: auto;
    vertical-align: middle;
    margin-right: 1%;
    margin-bottom: 0%;
}

div.center {
    margin: auto;
    text-align: center;
    display: inline-block;
}

/* play only on mobile */
div.slideshow {
    display: none;
}

div.slideshow img {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

div.cwu {
    display: inline-block;
    margin: auto;
}

div.cwu img {
    width: 12%;
    min-width: 150px;
    height: auto;
    vertical-align: middle;
}

img#wildcat {
    float: left;
    margin-left: 10%;
}

img#seal {
    float: right;
    margin-right: 10%;
}

div.bio {
    display: inline-block;
    width: 42%;
    min-width: 400px;
    margin: auto;
    padding: 2%;
}

div.bio img {
    width: 50%;
    min-width: 200px;
    height: auto;
    vertical-align: middle;
}

div.bio p {
    text-align: left;
}

img.border {
    border-color: #20055e;
    border-style: solid;
    border-width: 5px;
}

footer {
    width: 85%;
    margin: auto;
    font-size: .8em;
    text-align: center;
}

div.attribution {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

div.attribution p {
    text-align: left;
}

article {
    display: inline-block;
    width: 90%;
    height: fit-content;
    text-align: left;
    font-size: 1.1em;
    background-color: azure;
    margin: 25px;
    padding: 20px;
}

#home {
    display: inline-block;
    width: 60%;
    min-width: 300px;
    text-align: center;
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
}

#about {
    display: inline-block;
    background-color: #A0B4EE;
    font-size: 1.2em;
    box-sizing: border-box;
    width: 45%;
    min-width: 300px;
}

div.left {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    width: 75%;
    height: fit-content;
    padding: 20px;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

div.right {
    float: right;
    padding: 5px;
    box-sizing: border-box;
    width: 75%;
    height: fit-content;
    padding: 20px;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

div.textbooks {
    display: inline-block;
}

div.textbooks div.left {
    background-color: rgb(255, 237, 233);
}

div.textbooks div.right {
    background-color: rgb(208, 240, 234);
}

div.resources {
    display: inline-block;
}

div.resources div.right {
    background-color: rgb(6, 38, 87);
    color: azure;
}

div.resources div.right a {
    color: #f0f052;
}

div.resources div.right ul {
    list-style-image: url('../images/white_arrow.png');
}

div.resources div.left {
    background-color: rgb(202, 252, 235);
    width: 42%;
    margin-left: 4%;
}

div.assessment {
    margin: auto;
    text-align: center;
    display: inline-block;
}

div.assessment div.left {
    width: 42%
}

div.accessibility {
    display: inline-block;
}

div.accessibility div.left {
    background-color: rgb(48, 124, 236);
    color: ivory;
    width: 62%;
    margin-left: 2%;
}

div.accessibility div.left a {
    color: #f0f052;
}

div.accessibility div.left ul {
    list-style-image: url('../images/white_arrow.png');
}

div.accessibility img {
    float: right;
    vertical-align: middle;
    width: 25%;
    margin-right: 3%;
}

div.accessibility div.right {
    background-color: rgb(169, 210, 243);
}

div.ide {
    display: inline-block;
}

div.ide div.left {
    background-color: rgb(228, 217, 247);
    width: 48%;
    margin-left: 2%;
}

div.ide div.right {
    background-color: rgb(208, 230, 254);
    width: 90%;
    margin-right: 1%;
    margin-top: 7%;
    padding-bottom: 20px;
    ;
}

div.video {
    float: right;
    width: 48%;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: center;
}

div.video iframe {
    float: right;
    margin-right: 10%;
    vertical-align: center;
}

div.video>div {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 ratio required for YouTube videos */
}

div.video>div>iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#keyboard {
    display: inline-block;
}

img#keyboard {
    min-width: 400px;
}

@media only screen and (max-width: 1070px) {

    div.accessibility div.left {
        width: 85%;
        margin-left: 1%;
    }

    div.accessibility div.right {
        width: 85%;
        margin-right: 1%;
    }

    img#wildcat {
        float: none;
        display: inline-block;
        margin-left: 5%;
        margin-right: 5%;
    }

    img#seal {
        float: none;
        display: inline-block;
        margin-left: 5%;
        margin-right: 5%;
    }

    #about {
        width: 75%;
        min-width: 300px;
    }
}

@media only screen and (max-width: 800px) {

    #home {
        margin-top: 1%;
        margin-bottom: 3%;
    }

    div.ide>div.left,
    div.resources>div.left {
        width: 90%;
        margin-left: 1%;
    }

    div.ide>div.right,
    div.resources>div.right {
        width: 90%;
        margin-right: 1%;
    }

    div.video {
        width: 90%;
    }

    div.images {
        display: none;
    }

    div.slideshow {
        display: block;
    }
}