@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Orienta&display=swap');

body {
    font-family: "Orienta", serif;
    background-color: #A0B4EE;
    color: #2B057B;
}

a {
  color: black;
}

ul {
    list-style-image: url('../images/Arrow_Blue_Right.png');
}

header {
    margin: auto;
    text-align: center;
    color: #f0f052;
}

h1, h2, h3 {
    font-family: "Luxurious Roman", serif;
    text-align: center;
    color: #f0f052;
    text-shadow: 3px 3px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header > nav > ul > li {
	display: inline-block !important;
}

header > nav li a {
    background-color: #264EB5 !important;
    color: #f0f052 !important;
}

header > nav li:hover a {
  background-color: #f0f052 !important;
  color: #264EB5 !important;
}

header > nav > ul a {
    display: inline-block !important;
	text-decoration: none !important;
    font-size: 1.1em !important;
    border: 4px solid #46681E !important;
    padding: 5px !important;
    margin: 1px !important;
    border-radius: 10px !important;
    background-color: #264EB5 !important;
}

div.images {
    width: 95%;
    display: inline-block;
    margin-top: 0%;
    margin-left: 6%;
    padding: 3%;
}

div.images img {
    display: inline-block;
    width: 42%;
    height: auto;
    vertical-align: middle;
    margin-right: 1%;
    margin-bottom: 0%;
}

div.block img {
    display: inline-block;
    width: 30%;
    height: auto;
    vertical-align: middle;
    margin-right: 1%;
    margin-bottom: 0%;
}

div.about img {
    display: inline-block;
    width: 33%;
    height: auto;
    vertical-align: middle;
    margin-left: 33%;
}

div.center {
    margin: auto;
    text-align: center;
    display:inline-block;
}

div.block {
    display: inline-block;
    width: 29%;
    margin:auto;
}

div.about {
    display: inline-block;
    width: 42%;
    margin:auto;
    text-align: left;
    padding: 2%;
}

img.border {
    border-color: #20055e;
    border-style: solid;
    border-width: 5px;
}

footer {
    width: 75%;
    margin: auto;
    font-size: .8em;
    text-align: center;
}

section.image_use {
    text-align: left;
    margin-left: 20%;
}

article#one {
    display:inline-block;
    width: 60%;
    text-align: center;
    font-size: 1.1em;
}

article#about {
    display:inline-block;
    width: 40%;
    text-align: center;
    font-size: 1.2em;
}
