@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Orienta&display=swap');

body {
    font-family: "Orienta", serif;
    background-color: #859fe7;
    color: #20055e;
}

a {
  color: #FFFF66;
}

header {
    margin: auto;
    text-align: center;
    color: #f0f052;
}

h1, h2 {
    font-family: "Luxurious Roman", serif;
    text-align: center;
    text-shadow: 3px 3px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header > nav li:hover a {
  background-color: #FFFF66; !important;
  color: #6a86b4; !important;
}

header > nav > ul > li {
	display: inline-block; !important;
}

header > nav > ul a {
    display: inline-block; !important;
	text-decoration: none; !important;
    border: 4px solid #46681E; !important;
    padding: 5px; !important;
    margin: 1px; !important;
    border-radius: 10px; !important;
    background-color: #6a86b4; !important;
}

div.images {
    width: 95%;
    display: inline-block;
    margin-top: 0%;
    margin-left: 6%;
    padding: 3%;
}

div > img {
    display: inline-block;
    width: 42%;
    height: auto;
    vertical-align: middle;
    margin-right: 1%;
    margin-bottom: 2%;
}

div.video {
    margin: auto;
}

img {
    border-color: #20055e;
    border-style: solid;
    border-width: 5px;
}
